@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style */
.display-flex{
    display: flex;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255,144,14,0.1);
}
.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color:#FF900E ;
    padding:20px 25px ;
    border: none;
    color: #fff;
    font-size:1.25rem ;
    font-weight: 600;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header Style */

/* Navbar Releted Style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size:2.8rem ;
}
.navbar,
.banner{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item{
    list-style: none ;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}
/* Banner Releted Style */
.banner{
   max-width: 850px; 
   margin: 0 auto;
   text-align: center;
}
.banner-content{
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* team and features releted style */
.teams {
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#Quick-list{
    font-weight: 500;
}
/* Features section releted style */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
     padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0,0.6);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
}
#Exprience-badge{
    padding:45px 42px ;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#Exprience-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architec{
    width: 100%;
}
/* some fact releted style */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
   margin-top: 5px;
   margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
/* sponsors  releted style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 24px;
}
.sponsors-company img{
    filter: grayscale(100%);
}


/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams,
    .features{
        flex-direction:column ;
    }
    .team-image-container,
    .facts-container,
    .sponsors-company{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container,
    .sponsors-company{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
    margin-left: 30px;
}
#Exprience-badge{
    margin-left: 20px;
    margin-top: 20px;
}
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams,
    .features{
         flex-direction: column; 
    }
    .our-features{
        margin: 50px auto;
    }
    .sponsors-company,
    .facts-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    #Exprience-badge{
    margin-left: 20px;
    margin-top: 20px;
}
}
